@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--radius: 0.5rem;
		--color-green: #e7ffd3;
		--color-darkgreen: #355917;
		--color-yellow: #fff9c5;
		--color-orange: #ffebd3;
		--color-sol_ok: #faea5e;
		--color-sol_top: #e19803;
		--color-sol_ko: #fffbd6;
		--color-grey: #5d5b65;
		--color-gris: #fafafa;
		--color-darkgrey: #151528;
		--color-blue: 251 38% 18%;
		--color-select: #a29db9;
		--font-sans: 'Verdana', sans-serif;
		--font-serif: 'Times New Roman', serif;
		--fontSize-Sm: 0.875rem;
		--fontSize-Base: 1rem;
		--fontSize-Lg: 2rem;
		--fontSize-Xl: 2.5rem;
		--boxShadow-base: '0px 4px 4px 0px rgba(0, 0, 0, 0.25)';
		--z-base: 0;
		--z-map-legend: 10;
		--z-home-overlay: 20;
		--z-header: 30;
		--z-footer: 30;
		--z-popover: 40;
		--z-dialog: 50;
		--z-fiche: 50;
		--z-tooltip: 70;
		--z-footer-drawer: 80;
		--z-mobile-menu-overlay: 90;
		--z-toast: 100;
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
@media print {
	@page {
		margin: 2rem;
	}
	.accordion-wrapper {
		page-break-inside: avoid;
		page-break-after: always;
		padding-top: 10px;
	}
	#fiche-root {
		padding: 0;
	}
}
